<table>
    <tr>
        {{datosMesa.mesa_numero}}
    </tr>
    <tr>
        <td>{{datosMesa.circuito}}</td>
        <td>{{datosMesa.escuela}}</td>
    </tr>
    </table>
    <table>
    <tr>
        {% for planilla in datosMesa.planillas %}
            <td>
                {% if planilla.habilitado %}
                    <form method='link' action='{{url_for("llenarPlanilla",planilla_id=planilla.id)}}'>
                        <input type="submit" value="{{planilla.texto}}" >
                    </form>
                {% else %}
                    <input type="submit" value="{{planilla.texto}}" disabled="True" >
                {% endif %}
                
            </td>
        {% endfor %}
    </tr>
</table>