<script type="text/javascript">
    var urlAlcances = '{{url_for("getAlcanceTipoCargo")}}';
    var urlFrentes = '{{url_for("getFrentesCargo")}}';
    var urlListas = '{{url_for("getListasFrenteCargo")}}';
    var urlFiltar = '{{url_for("Filtrar")}}';
</script>
<form method="POST" action="/">
    <table>
        <tr>
            <td>
                <label>Cargo</label>
                <select id="tipoCargo">
                    <option value="0">Seleccione</option>
                {% for tipo in tiposCargo %}
                    <option value="{{ tipo.id }}">{{ tipo.descripcion }}</option>
                {% endfor %}
                </select>
            </td>
            <td>
                <label>Lugar</label>
                <input id="cargoID" type="hidden">
                <input id="alcanceCargo" type="text" tabindex="3">
            </td>
        </tr>
        <tr>
            <td>
                <label>Frente</label>
                <input id="frenteID" type="hidden">
                <input id="frentes" type="text" tabindex="3">
            </td>
            <td>
                <label>Lista</label>
                <input id="listaID" type="hidden">
                <input id="listas" type="text" tabindex="3">
            </td>
        </tr>
    </table>
     <p><input type=submit value="Filtrar" id="filtrar"></p>
</form>
<script type="text/javascript" src='{{url_for("static", filename="js/filtrarCargos.js")}}'></script>