<script type="text/javascript">
    var Chartkick = {"language": "es"};
    var urlDatosGrafico = '{{url_for("getDatosGrafico")}}';
    var cargo_id = '{{cargo_id}}';
    var frente_id = '{{frente_id}}';
    var tipo_grafico = '{{tipo_grafico}}';
    var datoGraficos;
</script>
<script type="text/javascript" src="/static/js/lib/google-charts-jsapi.js" ></script>
<script type="text/javascript" src="/static/js/lib/chartkick.js" ></script>
<div class="panel-body">
    <h1>Mesas escrutadas: {{mesasEscrutadas}} %</h1>
    <h1>Total de votos: {{totalVotos}} </h1>
    <h3>Hora de informe: {{momentoInforme}}</h3>
    <div id="grafico" style="height:600px"></div>
</div>

<script type="text/javascript">
$(function() {
    getDatosGrafico();


});

function getDatosGrafico(){
        $.getJSON(urlDatosGrafico + "/" + cargo_id+ "/" + frente_id, function (data) {
                datoGraficos = data;
                if(tipo_grafico == '1'){
                    new Chartkick.ColumnChart("grafico", datoGraficos);
                }
                if(tipo_grafico == '0'){
                    new Chartkick.PieChart("grafico", datoGraficos );
                }
        });
        
    }
</script>