<!DOCTYPE html>
<html>
<head>
    <title>Pririgardus</title>
    <script type="text/javascript" src="/static/js/lib/jquery-1.11.2.min.js" ></script>
    <script type="text/javascript" src="/static/js/lib/jquery-ui.min.js" ></script>
    <link rel="stylesheet" href="/static/css/sitio.css">
    <link rel="stylesheet" href="/static/js/lib/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/js/lib/jquery-ui.theme.min.css">
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    <h1>Pririgardus elektoj</h1>
                </td>
                <td>
                    <p>Como su nombre lo indica claramente, un centro de computo</p>
                </td>
                <td>
                    <a href="/">Inicio</a>
                    {% if current_user.is_authenticated() %}
                        {% if current_user.tieneRol(roles.DataEntry)%}
                        <a href="/mesas">Mesas</a>
                        {% endif %}
                        {% if current_user.tieneRol(roles.Administrador)%}
                        <a href="/administrador">Administración</a>
                        {% endif %}
                        {% if current_user.tieneRol(roles.Prensa)%}
                        <a href="/informes">Informes</a>
                        {% endif %}
                        <a href="/salir">Salir</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div>
    {% block body %}{% endblock %}
    <div>
</body>
</html>