{% extends "_layout.html" %}
{% block body %}
<script type="text/javascript" src="/static/js/lib/autoNumeric.min.js" ></script>
<script type="text/javascript">
    var urlMesas = '{{url_for("getMesas")}}';
</script>
<div class="col-md-9 column">
    <div id="selecionarMesa" class="row clearfix">
        <div id="inputMesa" class="col-md-2 column">
            <table>
                <tr>
                    <td><input id="numero_mesa" class="form-control input-sm" type="text" tabindex="1"></td>
                </tr>
            </table>
        </div>
        <div id="datosMesa" tabindex="2" class="col-md-10 column">
            
        </div>
    </div>
</div>
<script type="text/javascript" src='{{url_for("static", filename="js/mesas.js")}}'></script>

{% endblock %}
{% block ayuda %}
<div class="col-md-3 column">
    <p>Ayuda para esta pantalla</p>
</div>
{% endblock %}