{% extends "_layout.html" %}
{% block body %}
<script type="text/javascript">
    var urlPlanilla = '{{url_for("Planilla",planilla_id=form.planilla_id.data)}}';
    var  escrutada = '{{form.escrutada}}' == 'True';
</script>
{% from "helpers/_formHelpers.html" import render_field %}
{% from "helpers/_votoFrente.html" import render_frente %}
<table>
    <tr>
        <td>{{form.mesa_numero}}</td>
    </tr>
    <tr>
        <td>{{form.titulo}}</td>
    </tr>
    <tr>
        <td>{{form.cargo}}</td>
    </tr>
</table>
<div id="cargarPlanilla" tabindex="0">
    <form method=post action='/mesas'>
        {{form.planilla_id}}
        <table id="votosPlanilla" tabindex="0">
            {% for frente in form.votos_frentes %}
                <tr>{{ render_frente(frente, labeled=form.escrutada)}}</tr>
            {% endfor %}
            <table>
            <tr>{{ render_field(form.nulos, labeled=form.escrutada, class="voto") }}</tr>
            <tr>{{ render_field(form.blancos, labeled=form.escrutada, class="voto") }}</tr>
            <tr>{{ render_field(form.impugnados, labeled=form.escrutada, class="voto") }}</tr>
            <tr>{{ render_field(form.recurridos, labeled=form.escrutada, class="voto") }}</tr>
            </table>
        </table>
        <p><input type=submit value="Escrutar" id="escrutar"></p>
        <p><input type=submit value="Cancelar" id="cancelar"></p>
    </form>
</div>
<div id="datosMesa" tabindex="2"></div>
<script type="text/javascript" src='{{url_for("static", filename="js/planilla.js")}}'></script>
{% endblock %}