/*body{
    color: grey;
}
*/

.alert {
    float: right;
}

#datosMesa {
    outline: none;
}
.container, #datosMesaTable{
    width: auto;
}

.ui-autocomplete {
    width: auto !important;
    height: auto; 
    max-height: 210px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

#selecionarMesa #inputMesa {
    float: left;
    height: auto;
}

#selecionarMesa #datosMesa { 
    float: left
}

.escrutar-focus {
    font-weight: bold
}

header .head {
    float: left;
}


/*.navbar-inverse{
    background-color: grey;
    border-color: grey;
}*/