/*body{
    color: grey;
}
*/

.alert {
    float: right;
}

#datosMesa {
    outline: none;
}
.container, #datosMesaTable{
    width: auto;
}

.ui-autocomplete {
    width: auto !important;
    height: auto; 
    max-height: 210px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

#selecionarMesa #inputMesa {
    float: left;
    height: auto;
}

#selecionarMesa #datosMesa { 
    float: left
}

.escrutar-focus {
    font-weight: bold
}

header .head {
    float: left;
}

#filtros {
    padding: 0.5em 1em 0.5em 1em;
}

#filtrosContainer{
    border:none;
}

.input-large {
    width: 30em;
}

#datos{
  text-align: center;
}

#grafico{
    height:40em;
    width:100%;
}

.dato-item {
    margin: 0 1em 0 1em;
    border:none;
}

.dato-badge{
    margin: 0 1em 0 1em;
}

.imagenFrente{
    max-height: 100px !important;
    width: 100% !important;
}